# Node
node_modules/
dist/
build/
docs/
docs_text/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.*.local

# Python virtualenv
.venv/
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# database / docker
db-data/

# Misc
.idea/
coverage/
*.log
